/* CSS Document */
.container{
    margin: 1px auto;  	
	width: 900px;
    height: 800px;
	background: #fff;  
}
.header{
    float: left;
    height: 110px;
    background: #fff;
    
}
@font-face{
            font-family:"logo";
            src:url("fonts/DroidSans.ttf") format("truetype");
}
.fonte{
    font-size: 14pt;
          color: #ea0f0f ;
}
.spans{
    color: #ea0f0f;
    font-size: 10pt;
}
    
.fonte1 {
         font-family: "logo";
         font-size: 23pt;
          color: #ea0f0f ;
                    }

p{
    line-height: 100%;
    box-sizing: border-box;
    float: left;

    
}
p>span{
    color: #470272;
    font-style: italic;
    font-family: none;
    font-size: 15pt;
}
#divBusca{
    float: left;
     position: relative;
    left: 100px;
    top: 45px;
  border:solid 1px;
  border-radius:10px;
  width:220px;
}
 
#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
}

 ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
li{
            display:inline;
            color: #fff;
            padding: 13px;
    font-style: italic;
            
        }
nav{
    clear: both;
            background: #470272;
            padding: 20px;
            
        }
li:hover{
            border-radius: 5px 5px 5px 5px;
            background: #2f014b;
            cursor: pointer;
        }
li[hidden]{
    background: #470272;
    cursor:auto;
}
li>a{
    color: #fff;
}
ul[li="or"]{
    background: #470272;
    cursor:auto;
}
.bag{
    position: relative;
    top: 30px;
    right: -140px;
}  
}
h3{
    

}
img{
    width: 200px;
    height: 200px;
}
figcaption{
    text-align: center;
    color: #ea0606
}
figcaption>strong{
    color: #000;
}
.footer{
    width: 900px;
    height: 200px;
    background: #dddddd;
    margin: 1px auto;
}
.fonte2{
    font-family:"logo";
    font-size: 14pt;
    color: #ea0f0f ;
    position: relative;
    left: 50px;
    top: 30px;
    
}
.fonte3{
    font-family:"logo";
    font-size: 14pt;
    color: #ea0f0f ;
    position:relative;
    left: 65px;
    top: 30px;
    
}
.fonte4{
    font-family:"logo";
    font-size: 14pt;
    color: #ea0f0f ;
    position: relative;
    left: 90px;
    top: 30px;
    
}
.rs{
    position: relative;
    left: 50px;
}
img[alt="rede"]{
    width:  30px;
    height: 30px;
    
}
.footer>p{
    position: relative;
    left: 50px;
    color: #908d8d;
}

fieldset{
    position: relative;
    top: -90px;
    right: -140px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
}
fieldset>input[type="email"]{
    height: 27px;
    width: 250px;
    border: solid 1px;
    border-radius: 5px 5px 5px 5px;
}
fieldset>input[type="button"]{
    height: 30px;
    width: 100px;
    border: solid 1px;
    border-radius: 5px 5px 5px 5px;
    background: #ea0f0f;
    font-family: "logo";
    font-size: 11pt;
    color: #fff;
}
img[alt="cal"]{
    width: 50px;
    height: 50px;
}

